.registration {
    margin-top: 15px;
    padding: 0;
}
.registration .btn-primary {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#328fce+0,007acc+100 */
    background: #328fce; /* Old browsers */
    background: -moz-linear-gradient(top,  #328fce 0%, #007acc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #328fce 0%,#007acc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #328fce 0%,#007acc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#328fce', endColorstr='#007acc',GradientType=0 ); /* IE6-9 */
    border: none;
    color: #fff;
    padding: 5px 25px;
    border-radius: 5px;
    font-size: 16px;
}
.registration .btn-primary:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#007acc+0,0060aa+100 */
    background: #007acc; /* Old browsers */
    background: -moz-linear-gradient(top,  #007acc 0%, #0060aa 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #007acc 0%,#0060aa 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #007acc 0%,#0060aa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007acc', endColorstr='#0060aa',GradientType=0 ); /* IE6-9 */
}